body{
  font-family: sans-serif;
  font-size: 13px;
}
h1,h2,h3{
  font-family: serif;
}
code, pre{
  font-family: "Consolas", monospace;
}
kbd {
  color: #000;
  background: #eee;
  border-style: solid;
  border-color: #ccc #aaa #888 #bbb;
  // padding: .1em .6em;
  padding: 1px 2px;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #f7f7f7;
  color: #333;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  border-radius: 3px;
  display: inline-block;
  margin: 0 .1em;
  text-shadow: 0 1px 0 #fff;
  // line-height: 1.4;
  white-space: nowrap;
}